.full-width-table {
  width: 100%;
}

.mat-header-cell, .mat-cell {
  text-align: left;
}


.skeleton-cell {
  padding: 8px;
}

ngx-skeleton-loader {
  width: 100%;
  height: 20px;
}

.mat-mdc-table {
  background: white;
}

#deals-table {
  overflow-x: auto;
  overflow-y: hidden;
}

